<mat-toolbar color="primary" class="docs-navbar-header mat-elevation-z2">
  <mat-toolbar-row>
    <div class="brand-title">
      <button mat-button [routerLink]="['/']">
        <mat-icon>book</mat-icon> Book Cart
      </button>
    </div>

    <!-- <div>
       
      </div> -->
    <div class="menu-name">
      <!--  <button
        mat-icon-button
        [routerLinkActive]="['link-active']"
        [routerLink]="['/my-orders']"
      >
        
        My orders
      </button>
       -->

      <!--   <mat-form-field appearance="fill">
        <mat-label>Choose an option</mat-label>
        <mat-select >
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2 (disabled)</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field> -->
     

      <button
        mat-button
        [routerLinkActive]="['link-active']"
        [routerLink]="['/forms']"
      >
        Form example
      </button>
      <button
        mat-button
        [routerLinkActive]="['link-active']"
        [routerLink]="['/users']"
      >
        Users
      </button>
      <button
        mat-button
        [routerLinkActive]="['link-active']"
        [routerLink]="['/customers']"
      >
        Customers
      </button>
      <button
        mat-button
        [routerLinkActive]="['link-active']"
        [routerLink]="['/department']"
      >
        Department
      </button>

      <!-- <mat-form-field> -->
        <mat-select (change)="changeLanguage($event)">
          <mat-option *ngFor="let lang of locale" [value]="lang.id">
            {{ lang.name }}
          </mat-option>
        </mat-select>
     <!--  </mat-form-field> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
